@font-face {
  font-family: 'icon-font';
  src: url('../font/icon-font.eot?59312965');
  src: url('../font/icon-font.eot?59312965#iefix') format('embedded-opentype'),
       url('../font/icon-font.woff2?59312965') format('woff2'),
       url('../font/icon-font.woff?59312965') format('woff'),
       url('../font/icon-font.ttf?59312965') format('truetype'),
       url('../font/icon-font.svg?59312965#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon-font';
    src: url('../font/icon-font.svg?59312965#icon-font') format('svg');
  }
}
*/
 
 [class^="icn-"]:before, [class*=" icn-"]:before {
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icn-abacus:before { content: '\e800'; } /* '' */
.icn-alarm:before { content: '\e801'; } /* '' */
.icn-albums:before { content: '\e802'; } /* '' */
.icn-apartament:before { content: '\e803'; } /* '' */
.icn-apps:before { content: '\e804'; } /* '' */
.icn-arrow-circle-down:before { content: '\e805'; } /* '' */
.icn-arrow-circle-left:before { content: '\e806'; } /* '' */
.icn-arrow-circle-right:before { content: '\e807'; } /* '' */
.icn-arrow-circle-up:before { content: '\e808'; } /* '' */
.icn-arrow-o-donw:before { content: '\e809'; } /* '' */
.icn-arrow-o-left:before { content: '\e80a'; } /* '' */
.icn-arrow-o-right:before { content: '\e80b'; } /* '' */
.icn-arrow-o-ud:before { content: '\e80c'; } /* '' */
.icn-bell:before { content: '\e80d'; } /* '' */
.icn-birthday:before { content: '\e80e'; } /* '' */
.icn-block-page:before { content: '\e80f'; } /* '' */
.icn-box-o:before { content: '\e810'; } /* '' */
.icn-box:before { content: '\e811'; } /* '' */
.icn-boxs:before { content: '\e812'; } /* '' */
.icn-btn-off:before { content: '\e813'; } /* '' */
.icn-btn-on:before { content: '\e814'; } /* '' */
.icn-bubble:before { content: '\e815'; } /* '' */
.icn-calendar-clock:before { content: '\e816'; } /* '' */
.icn-calendar-day:before { content: '\e817'; } /* '' */
.icn-calendar-ok:before { content: '\e818'; } /* '' */
.icn-calendar:before { content: '\e819'; } /* '' */
.icn-cart-go:before { content: '\e81a'; } /* '' */
.icn-cart:before { content: '\e81b'; } /* '' */
.icn-cash-registrer:before { content: '\e81c'; } /* '' */
.icn-catalog:before { content: '\e81d'; } /* '' */
.icn-category-o:before { content: '\e81e'; } /* '' */
.icn-category-v:before { content: '\e81f'; } /* '' */
.icn-category:before { content: '\e820'; } /* '' */
.icn-cc:before { content: '\e821'; } /* '' */
.icn-channels:before { content: '\e822'; } /* '' */
.icn-lifeguard:before { content: '\e823'; } /* '' */
.icn-checkmark-circle:before { content: '\e824'; } /* '' */
.icn-circle-full:before { content: '\e825'; } /* '' */
.icn-classification:before { content: '\e829'; } /* '' */
.icn-clients:before { content: '\e82a'; } /* '' */
.icn-clock:before { content: '\e82b'; } /* '' */
.icn-close-circle:before { content: '\e82c'; } /* '' */
.icn-close:before { content: '\e82d'; } /* '' */
.icn-code:before { content: '\e82e'; } /* '' */
.icn-columnist:before { content: '\e82f'; } /* '' */
.icn-bubble-point:before { content: '\e830'; } /* '' */
.icn-conector:before { content: '\e831'; } /* '' */
.icn-conf:before { content: '\e832'; } /* '' */
.icn-contact:before { content: '\e833'; } /* '' */
.icn-content-block:before { content: '\e834'; } /* '' */
.icn-content:before { content: '\e835'; } /* '' */
.icn-cover:before { content: '\e836'; } /* '' */
.icn-credential-o:before { content: '\e837'; } /* '' */
.icn-credential-old:before { content: '\e838'; } /* '' */
.icn-credential:before { content: '\e839'; } /* '' */
.icn-crm:before { content: '\e83a'; } /* '' */
.icn-crop:before { content: '\e83b'; } /* '' */
.icn-danger:before { content: '\e83c'; } /* '' */
.icn-deposit:before { content: '\e83d'; } /* '' */
.icn-diagram-fluid:before { content: '\e83e'; } /* '' */
.icn-diagram-operation:before { content: '\e83f'; } /* '' */
.icn-discharge:before { content: '\e840'; } /* '' */
.icn-division:before { content: '\e841'; } /* '' */
.icn-doctor:before { content: '\e842'; } /* '' */
.icn-donwload:before { content: '\e843'; } /* '' */
.icn-e-learning:before { content: '\e844'; } /* '' */
.icn-email:before { content: '\e845'; } /* '' */
.icn-excel:before { content: '\e846'; } /* '' */
.icn-expand:before { content: '\e847'; } /* '' */
.icn-eye-close:before { content: '\e848'; } /* '' */
.icn-eye-open:before { content: '\e849'; } /* '' */
.icn-family:before { content: '\e84a'; } /* '' */
.icn-finance:before { content: '\e84b'; } /* '' */
.icn-folder-up:before { content: '\e84c'; } /* '' */
.icn-folder:before { content: '\e84d'; } /* '' */
.icn-group:before { content: '\e84e'; } /* '' */
.icn-home:before { content: '\e84f'; } /* '' */
.icn-industry:before { content: '\e850'; } /* '' */
.icn-intranet:before { content: '\e851'; } /* '' */
.icn-inventary:before { content: '\e852'; } /* '' */
.icn-invoice:before { content: '\e853'; } /* '' */
.icn-kardex:before { content: '\e854'; } /* '' */
.icn-heart:before { content: '\e855'; } /* '' */
.icn-level-page:before { content: '\e856'; } /* '' */
.icn-like-o:before { content: '\e857'; } /* '' */
.icn-like:before { content: '\e858'; } /* '' */
.icn-link:before { content: '\e859'; } /* '' */
.icn-list:before { content: '\e85a'; } /* '' */
.icn-lock:before { content: '\e85b'; } /* '' */
.icn-logistics:before { content: '\e85c'; } /* '' */
.icn-marca:before { content: '\e85d'; } /* '' */
.icn-media-plus:before { content: '\e85e'; } /* '' */
.icn-media-reload:before { content: '\e85f'; } /* '' */
.icn-media:before { content: '\e860'; } /* '' */
.icn-megaphone:before { content: '\e861'; } /* '' */
.icn-minus-circle:before { content: '\e862'; } /* '' */
.icn-move:before { content: '\e863'; } /* '' */
.icn-movil:before { content: '\e864'; } /* '' */
.icn-music-note:before { content: '\e865'; } /* '' */
.icn-newspaper:before { content: '\e866'; } /* '' */
.icn-off:before { content: '\e867'; } /* '' */
.icn-order-ok:before { content: '\e868'; } /* '' */
.icn-order:before { content: '\e869'; } /* '' */
.icn-page:before { content: '\e86a'; } /* '' */
.icn-paid-credit:before { content: '\e86b'; } /* '' */
.icn-pdf:before { content: '\e86c'; } /* '' */
.icn-pencil:before { content: '\e86d'; } /* '' */
.icn-phone:before { content: '\e86e'; } /* '' */
.icn-photo:before { content: '\e86f'; } /* '' */
.icn-picture:before { content: '\e870'; } /* '' */
.icn-play-circle:before { content: '\e871'; } /* '' */
.icn-plus-circle:before { content: '\e872'; } /* '' */
.icn-plus:before { content: '\e873'; } /* '' */
.icn-point-1:before { content: '\e874'; } /* '' */
.icn-point-2:before { content: '\e875'; } /* '' */
.icn-point-3:before { content: '\e876'; } /* '' */
.icn-point-4:before { content: '\e877'; } /* '' */
.icn-point-map:before { content: '\e878'; } /* '' */
.icn-point-menu:before { content: '\e879'; } /* '' */
.icn-post:before { content: '\e87a'; } /* '' */
.icn-powerpoint:before { content: '\e87b'; } /* '' */
.icn-project-plan:before { content: '\e87c'; } /* '' */
.icn-proyect:before { content: '\e87d'; } /* '' */
.icn-reorder:before { content: '\e87e'; } /* '' */
.icn-reservation:before { content: '\e87f'; } /* '' */
.icn-rocket:before { content: '\e880'; } /* '' */
.icn-rrhh:before { content: '\e881'; } /* '' */
.icn-save:before { content: '\e882'; } /* '' */
.icn-search:before { content: '\e883'; } /* '' */
.icn-settings:before { content: '\e884'; } /* '' */
.icn-shop:before { content: '\e885'; } /* '' */
.icn-shortcut:before { content: '\e886'; } /* '' */
.icn-skip:before { content: '\e887'; } /* '' */
.icn-slide:before { content: '\e888'; } /* '' */
.icn-sort-asc:before { content: '\e889'; } /* '' */
.icn-sort-desc:before { content: '\e88a'; } /* '' */
.icn-sort:before { content: '\e88b'; } /* '' */
.icn-suitcase:before { content: '\e88c'; } /* '' */
.icn-sync:before { content: '\e88d'; } /* '' */
.icn-system:before { content: '\e88e'; } /* '' */
.icn-tabs-mobile:before { content: '\e88f'; } /* '' */
.icn-tabs:before { content: '\e890'; } /* '' */
.icn-tag:before { content: '\e891'; } /* '' */
.icn-target:before { content: '\e892'; } /* '' */
.icn-trash:before { content: '\e893'; } /* '' */
.icn-truck-register:before { content: '\e894'; } /* '' */
.icn-upload:before { content: '\e896'; } /* '' */
.icn-user-plus:before { content: '\e897'; } /* '' */
.icn-user:before { content: '\e898'; } /* '' */
.icn-users:before { content: '\e899'; } /* '' */
.icn-video-plus:before { content: '\e89a'; } /* '' */
.icn-video-reload:before { content: '\e89b'; } /* '' */
.icn-video:before { content: '\e89c'; } /* '' */
.icn-warning:before { content: '\e89d'; } /* '' */
.icn-word:before { content: '\e89e'; } /* '' */
.icn-zone:before { content: '\e89f'; } /* '' */
.icn-zoom:before { content: '\e8a0'; } /* '' */
.icn-zundi-o:before { content: '\e8a1'; } /* '' */
.icn-zundi:before { content: '\e8a2'; } /* '' */
.icn-calc-o:before { content: '\e8a3'; } /* '' */
.icn-calc:before { content: '\e8a4'; } /* '' */
.icn-invoice-finance:before { content: '\e8a5'; } /* '' */
.icn-callcenter:before { content: '\e8a6'; } /* '' */
.icn-comment-callcenter:before { content: '\e8a7'; } /* '' */
.icn-comment:before { content: '\e8a8'; } /* '' */
.icn-inbox:before { content: '\e8a9'; } /* '' */
.icn-facebook:before { content: '\e8aa'; } /* '' */
.icn-key:before { content: '\e8ab'; } /* '' */
.icn-star:before { content: '\e8ac'; } /* '' */
.icn-laptop:before { content: '\e8ad'; } /* '' */
.icn-stadistics:before { content: '\e8ae'; } /* '' */
.icn-google:before { content: '\e8af'; } /* '' */
.icn-instagram:before { content: '\e8b0'; } /* '' */
.icn-linkedin:before { content: '\e8b1'; } /* '' */
.icn-twitter:before { content: '\e8b2'; } /* '' */
.icn-whatsapp:before { content: '\e8b3'; } /* '' */
.icn-youtube:before { content: '\e8b4'; } /* '' */
.icn-circle-point:before { content: '\e8b5'; } /* '' */
.icn-arrow-line-donw:before { content: '\e8b6'; } /* '' */
.icn-arrow-line-left:before { content: '\e8b7'; } /* '' */
.icn-arrow-line-right:before { content: '\e8b8'; } /* '' */
.icn-arrow-line-up:before { content: '\e8b9'; } /* '' */
.icn-circle-doble:before { content: '\e8be'; } /* '' */
.icn-circle:before { content: '\e8bf'; } /* '' */
.icn-unchecked:before { content: '\e8c0'; } /* '' */
.icn-checked:before { content: '\e8c1'; } /* '' */
.icn-arrow-o-up:before { content: '\e8c2'; } /* '' */
.icn-arrow-ud:before { content: '\e8c3'; } /* '' */
.icn-chevron-down:before { content: '\e8c4'; } /* '' */
.icn-chevron-left:before { content: '\e8c5'; } /* '' */
.icn-chevron-right:before { content: '\e8c6'; } /* '' */
.icn-chevron-ud:before { content: '\e8c7'; } /* '' */
.icn-chevron-up:before { content: '\e8c8'; } /* '' */